<div id="newProduct" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Error:</span>
  We were unable to perform your request at this time.
	</div>
<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-info" href="@Url.Action("Index")" role="button">Return to Listing</a>
	</div>
</div>